<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060603577692-20hr1oaoiq3a992vejnmtavesrnbt3cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060603577692-20hr1oaoiq3a992vejnmtavesrnbt3cv</string>
	<key>API_KEY</key>
	<string>AIzaSyANCtuPs1W3Tp1897aXzpvVhUrJzmbCE5c</string>
	<key>GCM_SENDER_ID</key>
	<string>1060603577692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.takane.renndagame</string>
	<key>PROJECT_ID</key>
	<string>king-of-high-speed-touch</string>
	<key>STORAGE_BUCKET</key>
	<string>king-of-high-speed-touch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060603577692:ios:0a7e58ccfae7118dbbad99</string>
	<key>DATABASE_URL</key>
	<string>https://king-of-high-speed-touch.firebaseio.com</string>
</dict>
</plist>